.restaurants {
  &--wrapper {
    text-align: center;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;

  }

  &__title {
    text-transform: uppercase;
    padding: 1.5rem;
    background-color: $color-tertiary;
    max-width: 300px;
    margin: 1rem auto;
    transform: skew(-2deg, 2deg);
    font-weight: 700;
  }

  &__map {
    text-transform: uppercase;
    padding: 1.5rem;
    background-color: $color-tertiary;
    max-width: 300px;
    margin: 1rem auto;
    transform: skew(2deg, -2deg);
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.25)
    }
  }

  &__header {
    display: flex;
  }

  &--center {
    flex-basis: auto;
    width: 1200px;
    background-color: $color-primary;

    margin: 0;
    margin: 3rem;
    display: grid;
    grid-template-columns: 25% 75%;

    //Make it so that when we delete the sidebar we go fullscreen with the restaurant cards
    @include respond(phone) {
      grid-template-columns: 1fr;
     }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    align-content:flex-start;
  }
}