.btn {
    //btn font-color
    color: white;

    //styling before hovering
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        background-color: $color-tertiary;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    //styling for hover
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(black, .2);
        background-color: $color-primary;
        color: $color-tertiary;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

}

